.navbar-padding {
  padding-right: 12rem;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-width {
  width: 30rem;
}
.btn-color{
  background-color: #0dcaf0;
}
.fa-regular{
  color:gold;
}
.company-img{
  width: 10%;
  height: 10%;
}
@media only screen and (max-width: 600px) {
  .card{
    display: flex;
    flex-direction: column !important;
  }
  .card img{
    width: 100%;
  }
  .p-width{
    width: 50%;
  }
}