.navbar-padding {
  padding-right: 12rem;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-width {
  width: 30rem;
}
.btn-color{
  background-color: #0dcaf0;
}
.fa-regular{
  color:gold;
}
.company-img{
  width: 10%;
  height: 10%;
}
#view-course{
  display: none;
}
/* tab view */
@media only screen and (max-width: 992px) {
  #working, #company, #img-4, #img-5, #img-6, #see-course{
    display: none !important;
  }
  #view-course{
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
  .accordion{
    width: 100% !important;
  }
  #register-text{
    flex-direction: column;
    text-align: center;
    width:100% !important;
  }

}
/* mobile view */
@media only screen and (max-width: 688px) {
  .card{
    display: flex;
    flex-direction: column !important;
  }
  .card img{
    width: 100%;
  }
  .p-width{
    width: 50%;
  }
  #working, #conpany{
    display: none !important;
  }
  #student-feedback, #student, #course{
    display: flex;
    flex-direction: column;
  }
}